# Mini-project (default)

In [1]:
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import pandas as pd

In [3]:
# load the dataset

df = pd.read_csv("https://raw.githubusercontent.com/Giovanni1085/UvA_CSDA_2021/main/assignments/miniproject/Pudding-Film-Dialogue-Clean.csv")

In [4]:
df.head()

,title,release_year,character,gender,words,proportion_of_dialogue,age,gross,script_id
0,The Bridges of Madison County,1995,Betty,woman,311,0.048639,35.0,142.0,280
1,The Bridges of Madison County,1995,Carolyn Johnson,woman,873,0.136534,NaN,142.0,280
2,The Bridges of Madison County,1995,Eleanor,woman,138,0.021583,NaN,142.0,280
3,The Bridges of Madison County,1995,Francesca Johns,woman,2251,0.352049,46.0,142.0,280
4,The Bridges of Madison County,1995,Madge,woman,190,0.029715,46.0,142.0,280

## What the dataset contains

* `title`: a movie title
* `release_year`: a movie release year
* `character`: the name of a character
* `gender`: the gender of the character
* `words`: how many words the character utters in the movie
* `proportion_of_dialogue`: the proportion of dialogue for the character, overall
* `age`: the age of the character (in years)
* `gross`: domestic, inflation-adjusted gross earnings (in USD millions)
* `script_id`: IBDM script id

---

In [ ]:
# your code here